In [3]:
import pandas
import numpy as np
import pandas as pd
from numpy.random import randn
import seaborn as sns

In [5]:
lottery = pd.read_csv('./Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv')
lottery

       Draw Date Winning Numbers  Mega Ball  Multiplier
0     09/25/2020  20 36 37 48 67         16         2.0
1     09/29/2020  14 39 43 44 67         19         3.0
2     10/02/2020  09 38 47 49 68         25         2.0
3     10/06/2020  15 16 18 39 59         17         3.0
4     10/09/2020  05 11 25 27 64         13         2.0
...          ...             ...        ...         ...
2319  08/16/2024  22 38 48 51 61          5         3.0
2320  08/20/2024  05 20 26 49 51         24         4.0
2321  08/23/2024  28 30 44 66 69          2         3.0
2322  08/27/2024  16 18 21 54 65          5         2.0
2323  08/30/2024  10 17 20 24 54          8         4.0

[2324 rows x 4 columns]